<div class="container">
    <div class="row row-cols-2">
    {% if  post.user.id == user.id%}
        <div>Vous avez publié une critique</div>
        <div>{{ post.date_creation }}</div>
    {% else %}
        <div>{{ post.user.username }} a publié une critique</div>
        <div>{{ post.date_creation }}</div>
    {% endif %}
        <h3>{{ post.titre }}</h3>
        <div>Note: {{post.note}}<span> ☆</span>
        </div>
        <div>{{ post.content }}</div>
</div>

<div class="container">
    <div class="row row-cols-2">
    {% if  post.ticket.user.id == user.id%}
        <div>Vous avez demandé une critique</div>
        <p>créer le : {{post.ticket.date_creation}}</p>
    {% else %}
        <div>en réponse à {{post.ticket.user.username}}</div>
        <div>{{post.ticket.date_creation}}</div>
    {% endif %}
        <h4>titre :</h4>
        <p>{{ post.ticket.titre }}<p>
        <h4>Description :</h4>
        <p >{{ post.ticket.description }}</p>
    </div>
</div>
