{% extends "index.html" %}
{% block content %}

    <h2 style="text-align: center;">Vos Posts</h2>

    {% comment %} Bloc Ticket {% endcomment %}
    <h3 style="text-align: center;">Critique que vous demandez</h3>
    {% for ticket in tickets %}

    <div class="d-flex justify-content-center" style="margin-top: 15px;">
        <ul class ="list-group col-md-6">
            <li class="list-group-item"> le : {{ ticket.date_creation }}</li>
            <li class="list-group-item">titre : {{ ticket.titre }}</li>
            <li class="list-group-item">description : {{ ticket.description }}</li>   
            <li class="list-group-item"><a href="{% url 'ticket-update' ticket.pk %}">Modifier</a></li>
            <li class="list-group-item"><a href="{% url 'ticket-delete' ticket.pk %}">Supprimer</a></li>
            </div>

    {% endfor %}
    {% comment %} Bloc review {% endcomment %}
    <h3 style="text-align: center;">Critique que vous avez publié</h3>
    {% for review in reviews %}
        <div class="d-flex justify-content-center" style="margin-top: 15px;">
                <ul class ="list-group col-md-6">
                    <li class="list-group-item"> le : {{ review.date_creation }}</li>
                    <li class="list-group-item">titre : {{ review.titre }}</li>
                    <li class="list-group-item">Note: {{review.note}}<span> ☆</span> </li>
                <li class="list-group-item"> description : {{ review.content }}</li>
                <li class="list-group-item"><a href="{% url 'review-update' review.pk %}">Modifier</a></li>
                <li class="list-group-item"><a href="{% url 'review-delete' review.pk %}">Supprimer</a></li>
            </ul>
        </div>
    {% endfor %}
     
{% endblock content%}