{% extends "index.html" %}
{% block content %}
    <h2 style="text-align: center;">Vos Posts</h2>

    {% comment %} Bloc Ticket {% endcomment %}
    {% for ticket in tickets %}
        <section >
            <div >Vous avez demandé une critique</div>
            <div>{{ ticket.time_created }}</div>
            <h3>{{ ticket.titre }}</h3>
            <p>{{ ticket.description }}</p>   
            <strong><a class="link-primary" href="{% url 'ticket-update' ticket.pk %}">Modifier</a></strong>
            <strong><a class="link-primary" href="{% url 'ticket-delete' ticket.pk %}">Supprimer</a></strong>
        </section>
    {% endfor %}

    {% comment %} Bloc review {% endcomment %}
    {% for review in reviews %}
        <section >
                <div>Vous avez publié une critique</div>
                <div>{{ review.time_created }}</div>
                <h3>{{ review.headline }}</h3>
                <div>Note: {{review.rating}}<span> ☆</span>
                </div>
                <div>{{ review.body }}</div></p>
                <strong><a class="link-primary" href="{% url 'review-update' review.pk %}">Modifier</a></strong>
                <strong><a class="link-primary" href="{% url 'review-delete' review.pk %}">Supprimer</a></strong>
            <section>
                {% if review.ticket.user == current_user %}
                    <div>Vous avez demandé une critique</div>
                {% else %}
                    <div>{{review.ticket.user}} a demandé une critique</div>
                <div>{{review.ticket.time_created}}</div>
                {% endif %}
                <h3 >{{ review.ticket.titre }}</h3>
                <p >{{ review.ticket.description }}</p>
            </section>
        </section>
    {% endfor %}
     
{% endblock content%}