{% extends "index.html" %}
{% block content %}
    <h2 style="text-align: center;">Modifier votre critique</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Vous êtes en train de poster la critique du post :
            <section >
                <div>{{review.ticket.user.username}} a demandé une critique</div>
                <div>{{review.ticket.time_created}}</div>
                <h3 class="ticket__title">{{ review.ticket.title }}</h3>
                <p class="ticket__description">{{ review.ticket.description }}</p>
            </section>
        <section >
            <div class="form">
                {{ form.as_p }}
                <input type="submit" value="Envoyer">
            </div>
        </section>
    </form>
{% endblock content %}
