{% extends "index.html" %}
{% block content %}
<h2 style="text-align: center;">Demander ou créer une critique</h2>
<div class="navbar navbar-light bg-light">
        <strong><a class="navbar-brand" href="{% url 'creer_ticket'%}">Demander une critique</a></strong>
        <strong><a class="navbar-brand" href="{% url 'creer_revue'%}">Créer une critique</a></strong>
    </div>

    <h2 style="text-align: center;">Liste des critiques créées</h2>
    {% for post in posts %}
    <div class="d-flex justify-content-center" style="margin-top: 5px;">
        <ul class="list-group col-md-6">
        {% if post.content_type == 'REVIEW' %}
        <li class="list-group-item">{% include 'review/critique_creer.html' %} </li>
        {% endif %}
    </ul>
</div>
    {% endfor %} 
    
    <h2 style="text-align: center;">Liste des critiques demandées</h2>
    {% for post in posts %}
    <div class="d-flex justify-content-center" style="margin-top: 5px;">
        <ul class="list-group col-md-6">
        {% if post.content_type == 'TICKET' %}   
        <li class="list-group-item">{% include 'review/critique_demander.html' %}</li>
        {% endif %}
    </ul>
</div>
    {% endfor %} 
{% endblock content%}