{% extends "index.html" %}
{% block content %}
    <h2 style="text-align: center;">entrez le nom de la personne que vous souhaitez suivre</h2>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-info" value="Envoyer">
    </form>
    <h2 style="text-align: center;">liste de vos Abonnements</h2>
    <ul class="list-group">
        {% for user in user_follows %}
            {% if  user.user == current_user%}
                <li class="list-group-item">{{ user.followed_user }}</li> 
                <a class="link-danger" href="{% url 'SubscriptionSupp' user.pk %}">Se désabonner</a>
            {% endif %}
    </ul>    
        {% empty %}
            <p>Vous ne suivez aucun utilisateurs</p> 
        {% endfor %} 
    <h2 style="text-align: center;">liste de vos abonnés</h2>
    <ul class="list-group list-group-flush" >
        {% for subscriber in subscribers %}
            <li class="list-group-item">{{ subscriber.user }}</li>
    </ul>
        {% empty %}
            <p>Aucun utilisateurs ne vous suit</p>
        {% endfor %}
{% endblock content%}